<!-- Navigation component molecule -->
<nav id="sidepanel">
  <ul>
    <li>
      <a href="#">PoW Networks Are Expensive</a>
    </li>
    <li>
      <a href="#">Astrology: The Resonance of Points of Awareness</a>
    </li>
    <li>
      <a href="#">The Financial and Eco-Unfriendly Problems With All PoW Networks</a>
    </li>
    <li>
      <a href="#">Miners are Free to Mine Other Networks</a>
    </li>
    <li>
      <a href="#">The Primary Alternative: Proof of Stake</a>
    </li>
    <li>
      <a href="#">Star Particle Jets, Tachyons and the Event </a>
    </li>
    <li>
      <a href="#">Vacuum Forming Your Visions</a>
    </li>
    <li>
      <a href="#">Understanding Etheric Evolution</a>
    </li>
    <li>
      <a href="#">Do the Anshar give Thoughtful Humans Downloads?</a>
    </li>
    <li>
      <a href="#">The Soul: A New Approach</a>
    </li>
  </ul>
</nav>
