/* application font-types  */
body, body a {
  font-size: 16px;
}

body a {
  text-decoration: none;
}

body a:hover {
  opacity: .5;
}


#navigation a {
  font-size: 16px;
  font-weight: bold;
}

#sidepanel a {
  font-size: 14px;
}
